:root
{
    --social-button-transition-time: 0.25s;
}

html, 
body, 
section
{
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

section
{
    position: relative;
}

.fade-in
{
    transition: opacity 0.25s ease-in;
}

.white-page-transition,
.black-page-transition
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.white-page-transition
{
    background: white;
    animation: pageTransition 0.75s ease-in-out forwards;

}

.black-page-transition
{
    background: black;
    animation: pageTransition 1s ease-in-out forwards;
}

@keyframes pageTransition
{
    0%
    {
        transform: translateX(0);
    }

    100%
    {  
        transform: translateX(-100vw);
    }
}

section
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      
}

h1, h2
{
    margin: 0 20px;
    font-size: 85px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h2
{
    margin: 20px 10px 50px 10px;
    font-size: 35px;
    font-weight: 500;
}

@media screen and (max-width: 500px)
{
    h1
    {
        font-size: 50px;
    }

    h2
    {
        font-size: 20px;
    }
}

.welcome-section
{
    height: 100vh;
    overflow: hidden;
}

.social-button
{    
    background: white;
    display: flex;
    align-items: center;
    position: relative;
    margin: 15px 0 0 0;
    width: 80vw;
    max-width: 275px;
    height: 60px;
    border: 5px solid black;
    outline: none;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}

.social-button::before
{
    content: '';
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
    transition: transform var(--social-button-transition-time) ease-in-out;
}

.social-button:hover::before,
.social-button:focus::before
{
    transform: scaleX(1);
}

.social-icon
{    
    position: absolute;
    margin-left: 5px;
    height: 90%;
    transition: filter var(--social-button-transition-time) ease-in-out;
}

.no-brightness
{
    filter: brightness(0);
}

.social-button:hover .social-icon
{
    filter: brightness(1);
}

.small-social-icon
{
    height: 60%;
}

a
{
    text-decoration: none;
}

.social-text
{
    color: black;
    font-size: 25px;
    font-weight: 500;
    flex: 1;
    transition: color var(--social-button-transition-time) ease-in-out;
}

.social-button:hover .social-text
{
    color: white;
}

@media screen and (max-width: 600px)
{
    h1
    {
        font-size: 50px;
    }

    h2
    {
        font-size: 35px;
    }
}

.projects-section
{
    background: black;    
    padding: 100px 0; 
    overflow: visible;
}

.projects-section::before
{
    content: '';
    background: black;
    position: absolute;
    top: -50px;
    width: 110%;  
    height: 150px;
    transform: rotate(-3deg);
}

.projects-section::after
{
    content: '';
    background: black;
    position: absolute;
    bottom: -50px;
    width: 110%;  
    height: 150px;
    transform: rotate(-3deg);
}

@media screen and (max-width: 700px)
{
    .projects-section
    {
        padding: 50px 0;
    }
    
    .projects-section::before
    {
        height: 100px;
    }    

    .projects-section::after
    {
        height: 100px;
    }  
}

.projects
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.projects-row
{
    display: flex;    
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1000px)
{
    .projects-row
    {
        flex-direction: column;
        margin: 0;
    }
}

.project
{
    background: black;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    width: 450px;    
    margin: 30px 50px;
    padding: 0 25px 25px 25px;
    border: 10px solid gray;
    outline: none;
    border-radius: 35px;
    cursor: pointer;
    z-index: 10;
    transition: 0.2s;
}

.project:hover
{
    transform: translateY(-40px);
}

.project:hover > .project-icon
{
    transform: translateY(0px);
}

@media screen and (min-width: 751px)
{
    .project
    {
        height: 600px;
    }
}

@media screen and (max-width: 750px)
{
    .project
    {
        width: 90vw;
        max-width: 400px;
    }
}

.project-icon-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    flex: 1;
}

.project-icon
{
    width: 100%;
    border-radius: 15px;
    transform: translateY(15px);
    transition: 0.2s;
}

.project-description
{
    color: white;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.skills-container
{
    background: black;
    position: relative;
    width: 100vw;
    margin-top: 350px;
    padding: 100px 0 200px 0;
}

.skills-container::before
{
    content: '';
    background: black;
    position: absolute;
    top: -50px;
    width: 110%;  
    height: 100px;
    transform: rotate(-3deg);
}

@media screen and (max-width: 700px)
{
    .skills-container
    {
        margin-top: 300px;
        padding: 50px 0 150px 0;
    }

    .skills-container::before
    {
        height: 100px;
    }
}

.skills
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    width: 50vw;
    margin: 10px auto 0 auto;
}

.skill
{
    background: white;
    color: black;
    margin: 10px;
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    transition: 0.2s;
}

.made-with-text
{
    color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 95vw;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    transform: translateX(-50%);
}

.white-text
{
    color: white;
}

.fade-in
{
    opacity: 0;
}

.fade-in.appear
{
    opacity: 1;
}